body{
  background-color: white;
  font-family: 'roboto', sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh; 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bannerGolf{
  height: 70vh;
}

.bannerEz{
  height: 50vh;
}



.logo, .logoHotel, .banderas, .domfedo, .logoFoot{
    height: 10rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.logoFoot{
  margin-top: 1.5rem;
}

.encabezado{
    text-align: center;
}

.card:hover{
  box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -webkit-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -moz-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
    transition: 0.25s ease-in-out all;
}

/* #clienteHotel, #clienteLocal, #clienteExt, #modaloca1, #modalocal2{
    display: none;
} */

.entrada{
    opacity: 0.5;
    transition: 0.4s ease-in-out all;
}

/* #clienteHotel, #clienteLocal, #cTurista, #modalocal1, #modalocal2{
    display: none;
} */

.card{
  cursor: pointer;
}
.botonReload{
    position: relative;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.centerReload{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.foot{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f5f6fe;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #514d87;
    color: white;
  }
  
  .sidebar a:hover:not(.active){
    background-color: #dfb502;
    color: white;
  }

  .btnTarifa{
    background-color: #514d87;
    border-radius: 8px 8px 8px 8px;
    transition: 0.25s ease-in-out all;
    padding: 5px;
  }

  
  .btnTarifa:hover{
    background-color: #dfb502;
  }

  .btnTarifa a:hover{
    color: black;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }

    .logo{
      display: none;
    }

    .btnTarifa{
      display: none;
    }

    .card{
      box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -webkit-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -moz-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
    }

    .bannerGolf{
      height: 30vh;
      width: 90vw;   
    }
    .bannerEz{
      height: 40vh;
      width: 90vw; 
    }

    .bannerOrigos{
      width: 90vw; 
      height: 45vh;
    }
  }
  
  @media screen and (max-width: 400px) {
    .bannerGolf{
      height: 30vh;
      width: 92vw; 
      margin-left: auto;
      margin-right: auto;
      
    }

    .sidebar a {
      text-align: center;
      float: left;
      margin-top: -10px;
    }

    .logo{
      display: none;
    }

    .scrollmenu{
      overflow: auto;
      white-space: nowrap;
    }

    .btnTarifa{
      display: none;
    }

    .card{
      box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -webkit-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -moz-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
    }
  }

  @media screen and (min-width: 701px) {
    .logoFoot{
      display: none;
    }
    
    
    
    
    
    
    /* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/golfhard.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
    

  }
