body{
  background-color: white;
  font-family: 'roboto', sans-serif;
  /* scroll-behavior: smooth; */
  min-height: 100vh; 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.linkTarifa{
  color: black;
}

.linkTarifa:hover{
  color: black;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.afterNav{
  margin-top: 6rem;
}

.bannerGolf{
  height: 50vh;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.inputBase{
  border-color: black;

}

.form-center {
  display:flex;
  justify-content: center;
}

.btnHotel{
  width: 8rem;
  height: 8rem;
  padding: 2rem 0 2rem 0;
}

.btnHotelNew{
  text-align: center;
  padding-top: 2rem;
  transition: 0.7s ease-in-out all;
  width: 16rem;
  height: 6rem;
  background-color: #dfb502;
  color: black;
}

.btnHotel:hover, .btnHotelNew:hover{
  box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -webkit-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -moz-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
    transition: 0.15s ease-in-out all;
    color: black;
}



.btnHotel a:hover{
  color: black;
}

.centerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo, .logoHotel, .banderas, .domfedo, .logoFoot{
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoFoot{
  margin-top: 1.5rem;
}

.encabezado{
    text-align: center;
}

.card:hover{
  box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -webkit-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -moz-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
    transition: 0.15s ease-in-out all;
}

#tarVP{
  display: none;
}

.entrada{
    opacity: 0.5;
    transition: 0.4s ease-in-out all;
}

/* #clienteHotel, #clienteLocal, #cTurista, #modalocal1, #modalocal2{
    display: none;
} */

.card{
  cursor: pointer;
  box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.6);
  
}
.botonReload{
    position: relative;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.centerReload{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.foot{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #f5f6fe;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
  }

  .flecha{
    display: none;
  }
   
  .sidebar a.active{
    background-color: #514d87;
    color: white;
  }

  a.active .flecha{
    display: inline-block;
  }
  
  .sidebar a:hover:not(.active){
    background-color: #dfb502;
    color: white;
    transition: 0.20s ease;
  }

  .sidebar a:hover .flecha{
    display: inline-block;
    
    color: white;
  }



  .btnTarifa{
    background-color: #514d87;
    padding: 5px;
    color: white;
  }

  
  /* .btnTarifa:hover{
    background-color: #dfb502;
  } */

  .navi {
    background-color: white;
    margin-left: 180px;
    padding: 16px 0 16px 0;
    /* height: 1000px; */
    width: calc(100% -180px);
    box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
  }

  .content {
    margin-left: 180px;
    padding: 1px 16px;
    /* height: 1000px; */
    width: calc(100% -180px);
  }


  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
    }

    div.content {
      margin-left: 0;
    }

    .logo{
      display: none;
    }

    .btnTarifa{
      display: none;
    }

    .card{
      box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -webkit-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -moz-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
    }

    .bannerGolf{
      height: 30vh;
      width: 90vw;   
    }
    .bannerEz{
      height: 40vh;
      width: 90vw; 
    }

    .bannerOrigos{
      width: 90vw; 
      height: 45vh;
    }

    .navi{
      display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .bannerGolf{
      height: 30vh;
      width: 92vw; 
      margin-left: auto;
      margin-right: auto;
      
    }

    .sidebar{
      display: none;
    }

    .logo{
      display: none;
    }

    .scrollmenu{
      overflow: auto;
      white-space: nowrap;
    }

    .btnTarifa{
      display: none;
    }

    .card{
      box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -webkit-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
      -moz-box-shadow: 10px 10px 4px -5px rgba(0,0,0,0.57);
    }
  }

  @media screen and (min-width: 701px) {
    .logoFoot{
      display: none;
    }
  }