<nav class="navbar fixed-top navi">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG_titulo"></span>
		<div class="btn-group dropstart">
			<% if(logged.rol === "Admin"){ %>
			<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="text-light"><i class="bi bi-person-fill"></i> <%= logged.username %></span>
			</a>
			<% } else { %>
			<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="text-dark"><i class="bi bi-person-fill"></i> <%= logged.username %></span>
			</a>
			<% } %>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item text-uppercase" href="/edit-usuario-actual">editar</a></li>
				<li><a class="dropdown-item text-uppercase" href="/logout">cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</nav>
