<div class="sidebar scrollmenu">
  <div class="container mb-3 mt-3">
    <img src="/img/golflogo.png" class="logo" alt="" />
  </div>
  <a class="active" href="/index"
    ><i class="bi bi-house-check"></i> Inicio
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <a href="/tarifas"
    ><i class="bi bi-currency-dollar"></i> Tarifas
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <a href="/guias"
    ><i class="bi bi-journal-text"></i> Guías
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <a href="/opera"
    ><i class="bi bi-upc-scan"></i> CÓD. OPERA
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <a href="/minigolf"
    ><i class="bi bi-houses"></i> MINI GOLF
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <% if(user.rol === "Admin"){ %>
  <a class="d-block" href="/ajustes"
    ><i class="bi bi-gear"></i> AJUSTES
    <i class="bi bi-chevron-right flecha"></i
  ></a>
  <% } else { %>
  <a class="d-none" href="/ajustes"
    >AJUSTES <i class="bi bi-chevron-right flecha"></i
  ></a>
  <% } %>
</div>
