<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<div class="text404 btn-group-vertical" role="group">
			<h1 class="text-center text-uppercase mt-5">Página NO ENCONTRADA</h1>
			<div class="d-flex">
				<a type="buttom" class="btn btn-warning text-uppercase btnShadow" href="/index">Volver a la guía</a>
			</div>
		</div>
		<img src="/img/404golfer.PNG" alt="sad-golfer" class="no_url_404" />
	</body>
</html>
