<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hard Rock Golf PC - Guía de procedimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body>

    <div class="sidebar scrollmenu">
      <div class="container mb-3 mt-3">
          <img src="/img/golflogo.png" class="logo" alt="">

      </div>
      <a class="active" href="/index">Inicio <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/tarifas">Tarifas <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/guias">Guías <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/opera">CÓDIGOS OPERA <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/minigolf">MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
      <% if(user.rol === "Admin"){ %>
        <a class="d-block"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } else { %>
          <a class="d-none"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } %>
    </div>

    <!-- NAV LG -->
    <nav class="navbar fixed-top navi">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Hard Rock Golf Club At Cana Bay</span>
        <div class="btn-group dropstart">
          <% if(user.rol === "Admin"){ %>
            <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-light "><i class="bi bi-person-fill"></i> <%= user.username %></span>
            </a>
              <% } else { %>
                <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-dark "><i class="bi bi-person-fill"></i> <%= user.username %></span>
                </a>
            <% } %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- NAV SM -->
  <nav class="navbar navSmall fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Guía General HR Golf</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div id="mySidenav" class="sidenav">
          <div id="main">
            <div class="dropdown btn-perfil">
              <% if(user.rol === "Admin"){ %>
                <button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-light text-uppercase"></i><%= user.username %></span>
                </button>
                  <% } else { %>
                    <button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-dark text-uppercase"><%= user.username %></span>
                    </button>
                <% } %>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" href="#">Editar</a></li>
                <li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
              </ul>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="/index">Inicio</a>
            <a class="nav-link" href="/tarifas">Tarifas</a>
            <a class="nav-link" href="#">GUIAS</a>
            <a class="nav-link" href="/opera">CÓDIGOS OPERA</a>
            <a class="nav-link" href="/minigolf">MINI GOLF</a>
            <% if(user.rol === "Admin"){ %>
              <a class="d-block"href="/ajustes">AJUSTES </a>
              <% } else { %>
                <a class="d-none"href="/ajustes">AJUSTES </a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    </nav>

    <div class="content">
      <div class="container afterNav">
        <div class="row text-center">
          <h5>Seleccione lo que desea editar:</h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4">
          <!-- SERVICIOS -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardServices">
              <a href="/ajustes/servicios-conf">
              <img src="img/servicios-conf.png" class="logoHotel card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                <div class="text-center">
                  <a href="/ajustes/servicios-conf" class="linkTarifa">SERVICIOS</a>
                </div>
                <!-- <p class="card-text">Verificar si tiene algún tipo de beneficios como huésped.</p> -->
              </div>
            </div>
          </div>
          <!-- TARIFAS CG -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardTarifas">
              <a href="/ajustes/tarifas-conf">
              <img src="/img/tarifas-conf.png" class="domfedo card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                <div class="text-center">
                  <a href="/ajustes/tarifas-conf" class="linkTarifa">TARIFAS CAMPO DE GOLF</a>
                </div>
                <!-- <p class="card-text">Ver si está afiliado a FEDOGOLF, si es nacido aqui o si es un extranjero residente.</p> -->
              </div>
            </div>
          </div>
          <!-- TARIFAS MG -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardTarifas">
              <a href="/ajustes/tarifas-mg">
              <img src="/img/minigolf.png" class="domfedo card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">      
                <div class="text-center">
                  <a href="/ajustes/tarifas-mg" class="linkTarifa">TARIFAS MINI GOLF</a>
                </div>
              </div>
            </div>
          </div>
          <!-- OPERA CODES -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardTarifas">
              <a href="/ajustes/opera-codes">
              <img src="/img/opera.png" class="domfedo card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                <div class="text-center">
                  <a href="/ajustes/opera-codes" class="linkTarifa">CODIGOS OPERA</a>
                </div>
              </div>
            </div>
          </div>
          <!-- TTOO -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardTarifas">
              <a href="/ajustes/ttoo-conf">
              <img src="/img/ttoo.png" class="domfedo card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                <div class="text-center">
                  <a href="/ajustes/ttoo-conf" class="linkTarifa">TARIFAS TTOO</a>
                </div>
                <!-- <p class="card-text">Ver si está afiliado a FEDOGOLF, si es nacido aqui o si es un extranjero residente.</p> -->
              </div>
            </div>
          </div>
          <!-- GUIAS -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardTarifas">
              <a href="/ajustes/guias-conf">
              <img src="/img/manual.png" class="domfedo card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                <div class="text-center">
                  <a href="/ajustes/guias-conf" class="linkTarifa">GUIAS</a>
                </div>
              </div>
            </div>
          </div>
          <!-- usuarios -->
          <div class="col">
            <div class="card cardRate mt-3" id="cardUsers">
              <a href="/ajustes/usuarios-conf">
              <img src="/img/usuarios.png" class="banderas card-img-top" alt="">
            </a>
              <div class="card-body cardBottom">
                
                <div class="text-center">
                  <a href="/ajustes/usuarios-conf" class="linkTarifa">USUARIOS</a>
                </div>
                <!-- <p class="card-text">Verificar si reserva el cliente o alguien en su lugar.</p> -->
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
      
    <footer>
      <hr>
      <div class="container">
        <div class="container">
          <img src="/img/golflogo.png" class="logoFoot" alt="">
        </div>
            <p class="text-muted miFirma">© 2022 German Cruz - Reception Team</p>
      </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/services.js"></script>
    <script type="module" src="/js/rates.js"></script> -->
  </body>
</html>
