body{
  background-color: #ffffff;
  font-family: 'roboto', sans-serif;
  /* scroll-behavior: smooth; */
  min-height: 100vh; 
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

p{
  line-height: 1.9;
}

.bi-house{
  font-size: 1.3rem;
}

.login-card{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 25vw;
  box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
}

.loginPage{
  background-image: url("/img/loginBG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  background-image: url(/img/hardRock.jpg);
  margin-left: 180px;
  height: 50vh;
  width: calc(100% -180px);
  margin-bottom: 25px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.banner-mg {
  background-image: url(/img/minigolf-air.jpg);
  margin-left: 180px;
  height: 50vh;
  width: calc(100% -180px);
  margin-bottom: 25px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.cardService{
  height: 7rem;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.linkTarifa{
  color: black;
}

.linkTarifa:hover{
  color: black;
}

#start-again{
  display: none;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.afterNav{
  margin-top: 5rem;
}

.bannerGolf{
  height: 30vh;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.inputBase{
  border-color: black;

}

.form-center {
  display:flex;
  justify-content: center;
}

.btnHotel{
  text-align: center;
  padding: 1.2rem;
  width: 16rem;
  height: 4rem;
  margin: 0 1.3rem 1.3rem 1.3rem;
  background-color: #514d87;
  color: white;
  border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
border: 2px solid black;
}

.fixSizeHead{
  height: 3rem;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #514d87;
  color: white;
}

.bodyCardZise{
  height: 8rem;
}


.bodyCardZiseMG{
  height: 6.5rem;
}

.cardShadow{
  box-shadow: 9px 10px 20px -12px rgba(0,0,0,0.64);
  -webkit-box-shadow: 9px 10px 20px -12px rgba(0,0,0,0.64);
  -moz-box-shadow: 9px 10px 20px -12px rgba(0,0,0,0.64);
}

.cardBottom{
  background-color: #514d87;
  color: white;
}

.cardBottom a{
  color: white;
}

.btnAnswer{
  text-align: center;
  padding: 1.2rem;
  width: 16rem;
  height: 6rem;
  background-color: #514d87;
  color: white;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
}

.btnAnswer:hover, .btnHotel:hover{
  background-color:#dfb502;
  box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -webkit-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -moz-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
    transition: 0.15s ease;
    color: black;
}

.btnEdit, .btnDelete{
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.logo, .logoFoot, .domfedo, .banderas, .ttooCardImg{
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-login{
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top{
  height: 9.5rem;
  object-fit: cover;
}

.logoHotelrate{
  height: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.testRow{
  vertical-align: middle;
}

.logoFoot{
  margin-top: 1.5rem;
}

.encabezado{
    text-align: center;
}

.cardRate{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);  
}

.cardRate:hover{
  box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -webkit-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  -moz-box-shadow: 1px 0px 12px 1px rgba(81,77,135,0.75);
  transition: 0.15s ease-in-out all;
}

#tarVP, #tarHRlp, #verificarSocio, #clienteCasino, #tieneCortesia, #socioLeg{
  display: none;
  animation-name: fadeInAnim;
  animation-duration: 2.2s;
}

@keyframes fadeInAnim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* #clienteHotel, #clienteLocal, #cTurista, #modalocal1, #modalocal2{
    display: none;
} */

.card{
  cursor: pointer;
}

  .sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #f0f0f0;
    /*#f5f6fe*/
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 2px solid #dfdfdf;
  }
  
  .sidebar a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .flecha{
    display: none;
  }
   
  .sidebar a.active{
    background-color: #514d87;
    color: white;
  }

  a.active .flecha{
    display: inline-block;
  }
  
  .sidebar a:hover:not(.active){
    background-color: #dfb502;
    color: white;
    transition: 0.20s ease;
  }

  .sidebar a:hover .flecha{
    display: inline-block;
    
    color: white;
  }



  .btnTarifa{
    background-color: #514d87;
    padding: 5px;
    color: white;
  }

  .navi {
    background-color: #514d87;
    /*f0f0f0*/
    color: white;
    margin-left: 180px;
    padding: 10px 0 10px 0;
    /* height: 1000px; */
    width: calc(100% -180px);
    border-bottom: 2px solid #dfdfdf;
    /*
    box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    */
  }

  .content {
    margin-left: 180px;
    padding: 1px 16px;
    /* height: 1000px; */
    width: calc(100% -180px);
  }

  .logoHotelrate, .domfedoRate, .banderasRate, .ttooCardImgRate{
    box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 7px 11px 1px rgba(0,0,0,0.45);
  }

  footer{
    margin-left: 180px;
    width: calc(100% -180px);
  }

  .botonReload{
    margin-left: 0px;
    margin-top: 1rem;
    justify-content:space-evenly;  
    
  }

  #backRates, #start-again{
    height: 4rem;
    width: 11rem;
    padding-top: 1.2rem;
  }

  .miFirma{
    text-align: right;
  }

  /* POR APLICACION */

  /* ----------------------------- ORIGOS----------------------------------- */

  .origosConnect{
    height: 40vh;
  }

  .origosHost{
    height: 70vh;
  }

  .origosLogin{
    height: 50vh;
  }

  .origosErrorP{
    height: 35vh;
  }
  
  .origosMain{
    height: 60vh;
  }
  .origosAtn{
    height: 40vh;
  }
  
  .origosDetail{
    height: 98vh;
  }
  
  .origosGenSearch{
    height: 60vh;
  }

  .origosDescont{
    height: 90vh;
  }

  
  .tableHead{
    display: block;
  }

  .onDesktop{
    display: block;
  }

  .onMobile{
    display: none;
  }

  /* ------------------------------------MEDIA QUERIES------------------------------------------------ */
  
  @media screen and (max-width: 700px) {
    table{
      width: 100%;
    }

    table tr{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }

    table th{
      display: none;
    }

    table td[data-titulo]{
      display: flex;
    }
    
    table td[data-titulo]::before{
      content: attr(data-titulo);
      width: 85px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .login-card{
      padding: 2rem;
      width: 75vw;
    }

    .navSmall{
     background-color: #514d87;
    }

    .navSmall a{
      color: white;
      text-transform: uppercase;
    }

    .navSmall a:hover{
      color: #dfb502;
    }

    .fixHead{
      margin-top: -40px;
    }

    .logo, .logoHotel, .banderas, .domfedo{
    height: 5.5rem;
    }

    .logoHotelrate, .domfedoRate, .banderasRate, .ttooCardImgRate{
      display: none;
    }

    .card-img-top{
      height: 12rem;
      width: 22rem;
    }

    .banner, .banner-mg {
      margin-left: 0px;
      margin-top: 56px;
      height: 25vh;
    }

    .miFirma{
      text-align: center;
    }

    .botonReload{
      justify-content: space-around;
    }
       
    .sidebar {
      display: none;
    }

    div.content {
      margin-left: 0;
      margin-top: 64px;
    }

    .logo{
      display: none;
    }

    .btnTarifa{
      display: none;
    }

    .onDesktop{
      display: none;
    }

    .onMobile{
      display: block;
    }

    .tableHead{
      display: none;
    }

    .bannerGolf{
      height: 30vh;
      width: 90vw;   
    }

    .navi{
      display: none;
    }
    
    .afterNav{
    margin-top: 0.5rem;
    }
    


    footer {
      margin-left: 0px;    
    }

      /* ----------------------------- ORIGOS----------------------------------- */

  .origosConnect{
    height: 25vh;
  }

  .origosHost{
    height: 55vh;
  }

  .origosLogin{
    height: 20vh;
  }

  .origosErrorP{
    height: 30vh;
  }
  
  .origosMain{
    height: 18vh;
  }
  .origosAtn{
    height: 20vh;
  }
  
  .origosDetail{
    height: 30vh;
  }
  
  .origosGenSearch{
    height: 22vh;
  }

  .origosDescont{
    height: 30vh;
  }
    
  }
  
  @media screen and (max-width: 400px) {
    .logo, .logoHotel, .banderas, .domfedo{
    height: 5.5rem;
    }   
    
    .bannerGolf{
      height: 30vh;
      width: 92vw; 
      margin-left: auto;
      margin-right: auto;
      
    }
    .sidebar{
      display: none;
    }

    .logo{
      display: none;
    }

    .scrollmenu{
      overflow: auto;
      white-space: nowrap;
    }

    .btnTarifa{
      display: none;
    }
    
    .btnHotel{
      width: 16rem;
    }
    
    .afterNav{
      margin-top: 0.5rem;
    }
    
     /* #backRates, #start-again{
      margin-top: 1.2rem;
      margin-bottom: 2rem;
    } */

    .miFirma{
      text-align: center;
    }
    
    

  }
  .headerSmall{
    display: none;
  }

  @media screen and (min-width: 701px) {
    .logoFoot, .navSmall, .headerSmall{
      display: none;
    }
  }
  
  @media screen and (min-width: 1152px) {
    .cardEdit-container{
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }





  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #514d87; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a.active{
  color: #dfb502;
  border-bottom: 1px solid #dfb502;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #dfb502;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-perfil{
  position: absolute;
  top: 7px;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
