body {
	background-color: #f5f5f5;
	/* background-color: #ffffff; */
	font-family: 'roboto', sans-serif;
	scroll-behavior: smooth;
	min-height: 100vh;
}

.content {
	animation: fadeIn ease-in-out 0.4s;
	animation-iteration-count: 1;
	/* animation-fill-mode: forwards; */
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#btnArriba {
	animation: btnArriba 1s ease 0s 1 normal forwards;
}

@keyframes btnArriba {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

.offcanvas {
	width: 260px !important;
}

#inputBuscar {
	position: relative;
	display: flex;
	justify-content: end;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: white;
}

p {
	line-height: 1.9;
}

.bi-house-up {
	font-size: 1.5rem;
	margin-left: 8px;
}

.inputSize {
	width: 25%;
}

.login-card {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2rem;
	width: 30vw;
	box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 7px 11px 1px rgba(0, 0, 0, 0.45);
}

.loginPage {
	background-image: url('/img/loginBG.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.no_url_404 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 280px;
}

.text404 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
}

.login_flash_msg {
	margin-left: 180px;
	margin-right: 18px;
	width: calc(100% -180px);
}

.content,
.footer,
.banner,
.banner-mg,
.navi {
	margin-left: 160px;
	width: calc(100% -160px);
}

.banner,
.banner-mg {
	margin-bottom: 25px;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.banner {
	background-image: url(/img/hardRock.jpg);
	height: 45vh;
}

.banner-mg {
	background-image: url(/img/minigolf-air.jpg);
	height: 45vh;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.cardService {
	height: 7rem;
	text-align: center;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.afterNav {
	margin-top: 4.6rem;
}

.inputBase {
	border-color: black;
}

.form-center {
	display: flex;
	justify-content: center;
}

/* .fixSizeHead {
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #514d87;
	color: white;
}

.fixSizeHeadEdit {
	height: 2.5rem;
	background-color: #514d87;
	color: white;
}

.bodyCardZise {
	height: 8rem;
}

.bodyCardZiseMG {
	height: 6.5rem;
} */

.noResults {
	height: 30vh;
	border-radius: 10px 10px 25px 25px;
	-webkit-border-radius: 10px 10px 25px 25px;
	-moz-border-radius: 10px 10px 25px 25px;
}

.bi-check-square {
	font-size: 3rem;
}

/* TACHAR TEXT CHECKBOX CHECKED */
.tarea_completada:checked + label {
	text-decoration: line-through;
}

.cardShadow {
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.cardBottom {
	background-color: #514d87;
	color: white;
}

.cardBottom a {
	color: white;
}

.btnAction {
	padding: 0.3rem 1.7rem 0.3rem 1.7rem;
	text-align: center;
	border-radius: 5px;
	font-size: medium;
	line-height: 25px;
}

.btnShadow {
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.hide-column-message {
	display: none;
}

#btnArriba {
	display: none; /* Hidden by default */
	font-size: 1.5rem;
	/* transition: all 1s ease; */
	position: fixed; /* Fixed/sticky position */
	bottom: 65px; /* Place the button at the bottom of the page */
	right: 28px; /* Place the button 30px from the right */
	z-index: 1; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #514d87; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	/* border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px; */
}

.logo,
.logoFoot,
.domfedo,
.banderas,
.ttooCardImg {
	height: 8rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo-login {
	height: 10rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-img-top {
	height: 9.5rem;
	object-fit: cover;
}

.logoHotelrate {
	height: 6rem;
	/* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.logoFoot {
	margin-top: 1.5rem;
}

.encabezado {
	text-align: center;
}

.verInfo {
	visibility: hidden;
	display: inline-block;
}

@media (hover: hover) {
	.info:hover {
		/* transition: all 0.2s ease; */
		font-weight: bold;
		border-color: black;
	}

	.info:hover .verInfo {
		visibility: visible;
		color: green;
	}
}

table {
	width: 100%;
}

.hide-text {
	position: relative;
}

.hide-text:before {
	content: ' ';
	visibility: hidden;
}

.hide-text span {
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card {
	cursor: pointer;
}

.sidebar {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	/* background-color: #f0f0f0; */
	/*#f5f6fe*/
	position: fixed;
	height: 100%;
	overflow: auto;
	border-right: 2px solid #dfdfdf;
}

.sidebar a {
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.flecha {
	display: none;
}

.nav-link[aria-current='page'] {
	background-color: #514d87;
	color: white;
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.nav-link[aria-current='page'] .flecha {
	display: inline-block;
	align-items: flex-end;
}

.sidebar a:hover:not([aria-current='page']):not(.logo_sidebar) {
	background-color: #dfb502;
	color: white;
	transition: 0.1s ease;
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.btn-accordion:hover {
	background-color: #f0f0f0;
	transition: 0.2s ease;
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
}

.navi {
	background-color: #514d87;
	/*f0f0f0*/
	color: white;
	padding: 10px 0 10px 0;
	/* height: 1000px; */
	border-bottom: 2px solid #dfdfdf;
	/*
    box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 2px 0px rgba(0,0,0,0.75);
    */
}

.sidebar {
	width: 160px;
}

.content {
	padding: 1px 16px;
}

.logoHotelrate,
.domfedoRate,
.banderasRate,
.ttooCardImgRate {
	border: 1px solid #dfdfdf;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
}

.botonReload {
	display: flex;
	/* margin-left: 0px; */
	margin-top: 1rem;
	justify-content: flex-end;
}

#backRates,
#start-again {
	height: 4rem;
	width: 11rem;
	padding-top: 1.2rem;
}

.miFirma {
	text-align: right;
	margin-top: 0.5rem;
}

.firmaBG {
	background-color: lightgray;
	color: black;
	width: 100%;
}

.testBtn {
	background-color: #514d87;
	color: white;
}

.opera-desktop {
	display: block;
}

.opera-mobile {
	display: none;
}

.tableHead {
	display: block;
}

.onDesktop {
	display: block;
}

.onMobile,
.tabla-mobile {
	display: none;
}

.new-form-button {
	display: flex;
	justify-content: space-around;
}

/* ****************************************************MEDIA QUERIES------------------------------------------------ */

@media (min-width: 700px) and (max-width: 1152px) {
	.inputSize {
		width: 100%;
	}
}

@media (min-width: 700px) and (max-width: 992px) {
	.hide-column {
		display: none;
	}

	.hide-column-message {
		display: block;
	}

	.logo {
		height: 6rem;
	}
}

@media screen and (max-width: 700px) {
	/* OFF CANVAS */
	.new_sidenav {
		background-color: #514d87;
	}

	.new_sidenav a {
		padding: 8px 8px 8px 10px;
		text-decoration: none;
		font-size: 20px;
		color: white;
		display: block;
		transition: 0.5s;
	}

	.nav-link[aria-current='page'] {
		color: #dfb502;
		border-bottom: 1px solid #dfb502;
		box-shadow: -3px -1px 5px -200px rgba(0, 0, 0, 0);
		-webkit-box-shadow: -3px -1px 5px -200px rgba(0, 0, 0, 0);
		-moz-box-shadow: -3px -1px 5px -200px rgba(0, 0, 0, 0);
	}

	.btn-perfil {
		position: absolute;
		top: 7px;
		left: 25px;
		font-size: 36px;
		margin-right: 50px;
	}

	/* OFFCANVAS */

	.login_flash_msg {
		margin-left: 20px;
		margin-right: 18px;
		width: calc(100% -180px);
	}

	.editCenter {
		padding-top: 0.75rem;
	}

	.hide-column-opera {
		display: none;
	}

	.hide-column-message {
		display: block;
	}

	.row-height {
		height: 50px;
	}

	.hide-column {
		display: none;
	}

	.inputSize {
		width: 100%;
	}

	.opera-desktop {
		display: none;
	}

	.opera-mobile {
		display: block;
	}

	.btnAction {
		padding: 0.7rem 1rem 0.7rem 1rem;
	}

	.bi-trash,
	.bi-pencil {
		font-size: large;
	}

	.tabla-desktop {
		display: none;
	}

	.tabla-mobile {
		display: block;
	}

	.login-card {
		padding: 2rem;
		width: 80vw;
	}

	.navSmall {
		background-color: #514d87;
		box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
	}

	.navSmall a {
		color: white;
		text-transform: uppercase;
	}

	.navSmall a:hover {
		color: #dfb502;
	}

	.fixHead {
		margin-top: -40px;
	}

	.uploading {
		padding-left: 1.5rem;
	}

	.logo,
	.logoHotel,
	.banderas,
	.domfedo {
		height: 5.5rem;
	}

	.logoHotelrate,
	.domfedoRate,
	.banderasRate,
	.ttooCardImgRate,
	.mobileLogo {
		/* display: none; */
		height: 3rem;
	}

	.card-img-top {
		height: 9.5rem;
		width: 100%;
	}

	.banner,
	.banner-mg {
		margin-left: 0px;
		margin-top: 56px;
		height: 20vh;
	}

	.miFirma {
		text-align: center;
	}

	.botonReload {
		justify-content: space-around;
	}

	.sidebar {
		display: none;
	}

	div.content {
		margin-left: 0;
		margin-top: 64px;
	}

	.logo {
		display: none;
	}

	.onDesktop {
		display: none;
	}

	.onMobile {
		display: block;
	}

	.tableHead {
		display: none;
	}

	.navi {
		display: none;
	}

	.afterNav {
		margin-top: 0.8rem;
	}

	footer {
		margin-left: 0px;
	}
}

@media screen and (max-width: 400px) {
	.logo,
	.logoHotel,
	.banderas,
	.domfedo {
		height: 5.5rem;
	}

	.sidebar {
		display: none;
	}

	.logo {
		display: none;
	}

	.scrollmenu {
		overflow: auto;
		white-space: nowrap;
	}

	.afterNav {
		margin-top: 0.8rem;
	}

	.miFirma {
		text-align: center;
	}
}

.headerSmall {
	display: none;
}

@media screen and (min-width: 701px) {
	.logoFoot,
	.navSmall,
	.headerSmall {
		display: none;
	}
}

@media screen and (min-width: 1152px) {
	.cardEdit-container {
		padding-left: 15rem;
		padding-right: 15rem;
	}
}

@media screen and (min-width: 1152px) {
	.cardEdit-container-guia {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}
