<div class="btn-group dropstart">
	<% if(user.rol === "Admin"){ %>
	<a
		class="btn btn-success dropdown-toggle btnShadow"
		href="#"
		role="button"
		data-bs-toggle="dropdown"
		aria-expanded="false">
		<span class="text-light"
			><i class="bi bi-person-fill"></i> <%= user.username %></span
		>
	</a>
	<% } else { %>
	<a
		class="btn btn-warning dropdown-toggle"
		href="#"
		role="button"
		data-bs-toggle="dropdown"
		aria-expanded="false">
		<span class="text-dark"
			><i class="bi bi-person-fill"></i> <%= user.username %></span
		>
	</a>
	<% } %>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">Editar</a></li>
		<li><a class="dropdown-item" href="/logout">Salir</a></li>
	</ul>
</div>
